.profile_creation_wrapper {
  background: rgb(23, 170, 124);
  background: linear-gradient(
    90deg,
    rgba(23, 170, 124, 1) 0%,
    rgba(30, 119, 90, 1) 49%,
    rgba(17, 208, 202, 1) 100%
  );
  /* background: #FF3980;
  background: linear-gradient(
    90deg,
    #FF3980 0%,
    #981945 49%,
    #A36178 100%
  ); */
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 500px;
}

/* .profile_creation_wrapper .MuiFormControlLabel-label {
  font-size: 14px;
}

.profile_creation_wrapper .MuiSvgIcon-root {
  color: var(--color-primary);
}

.profile_creation_wrapper .MuiInputLabel-root.Mui-focused {
  color: var(--color-primary);
} */

.prof_creation_top_panel {
  color: var(--text-color);
}

.profile_creation_wrapper form span {
  font-size: 11px;
  color: red;
}

.ProfileCreation__tab_wrapper {
  position: relative;
  margin-bottom: -20px;
}
.ProfileCreation__tab_wrapper .MuiTabs-flexContainer {
  justify-content: center;
}
.ProfileCreation_TabContext__tab {
  /* background-color: var(--color-primary) !important; */
  color: #fff !important;
  border: 2px solid var(--color-primary) !important;
  font-weight: 700 !important;
  margin-left: 30px !important;
  margin-right: 30px !important;
  position: relative !important;
  overflow: initial !important;
  z-index: 7 !important;
  padding: 0 !important;
  min-height: 40px !important;
  max-height: 40px !important;
  min-width: 40px !important;
  max-width: 40px !important;
  border-radius: 50% !important;
}
.ProfileCreation_TabContext__tab.Mui-selected {
  background-color: #fff !important;
  color: var(--color-primary) !important;
}
.ProfileCreation_TabContext__tab:disabled {
  background-color: var(--color-primary-hover) !important;
  color: rgba(255, 251, 251, 0.7) !important;
}
.ProfileCreation_TabContext__tab:nth-child(1):after {
  content: "";
  position: absolute;
  top: 16px;
  right: 0px;
  transform: translateX(62px);
  background-color: var(--color-primary);
  height: 3px;
  width: 60px;
}
.ProfileCreation_TabContext__tab:nth-child(2):after {
  content: "";
  position: absolute;
  top: 16px;
  right: 0px;
  transform: translateX(62px);
  background-color: var(--color-primary);
  height: 3px;
  width: 60px;
}

.ProfileCreation___tabpanel {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.profile_creation_wrapper .next_button_panel {
  display: flex;
  justify-content: center;
}
.profile_creation_wrapper .next_button_panel .btn_next {
  color: #fff;
  background-color: var(--color-primary);
  font-weight: 700;
  /* padding: 10px 40px; */
  padding: 4px 30px 2px 30px;
  border-radius: 20px;
  transition: 0.25s;
}
.profile_creation_wrapper .next_button_panel .btn_next:hover {
  background-color: var(--color-primary-hover);
}

.radio_group_flex {
  flex-direction: row !important;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.radio_group_flex label {
  min-width: 80px;
  /* padding-right: 12px; */
}
.circular_radio_design {
  display: flex;
  background-color: rgb(255, 255, 255);
  color: rgb(65, 64, 77) !important;
  border: 1px solid rgb(177, 179, 185);
  box-shadow: none;
  outline: none;
  border-radius: 15px;
  font: 400 14px Roboto, sans-serif;
  margin: 0px 6px 7px 0px;
  min-width: auto;
  min-height: auto;
  width: auto;
  height: 28px;
  text-transform: capitalize;
  text-align: center;
  padding: 0px 10px 0px 0px;
  position: relative;
  overflow: hidden;
}
.circular_radio_design span {
  color: var(--color-primary-hover) !important;
}
/* .circular_radio_design span:last-child {
    z-index: 99 !important;
    background-color: aqua !important;
    width: 100%;
} */
/* .circular_radio_design .Mui-checked span:last-child {
    background-color: var(--color-primary) !important;
} */
/* .circular_radio_design span:first-child {
    display: none;
} */
/* .circular_radio_design .Mui-checked {
    background-color: blueviolet !important;
    position: absolute;
    top: 0;
    left: -2px;
    right: 0;
    bottom: 0;
    border-radius: 0;
} */
/* .circular_radio_design span:not(:last-child) {
    display: none;
} */
.radio_group_flex:checked > .circular_radio_design {
  display: flex;
  background-color: rgb(1, 148, 168) !important;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(1, 148, 168) !important;
  box-shadow: none;
  outline: none;
  border-radius: 15px;
  font: 400 14px Roboto, sans-serif;
  margin: 0px 6px 7px 0px;
  min-width: auto;
  min-height: auto;
  width: auto;
  height: 28px;
  text-transform: capitalize;
  text-align: center;
  padding: 0px;
}

.MuiMenu-list {
  /* .profile_creation_wrapper .MuiMenu-list  */
  max-height: 200px !important;
}
.MuiMenu-list .MuiMenuItem-root.Mui-selected {
  background-color: var(--color-primary) !important;
  color: #fff;
}
.MuiMenu-list .MuiMenuItem-root:hover {
  background-color: var(--color-primary) !important;
  opacity: 0.8;
}
.MuiMenu-list .MuiMenuItem-root.Mui-selected:hover {
  background-color: var(--color-primary) !important;
}

.profile_creation_form_check_label span:last-child {
    color: var(--text-color);
    font-size: 15px
}

.intro_about_yourselt_textarea {
  resize: none;
  height: 180px !important;
}
.intro_about_yourselt_textarea:focus {
  box-shadow: none;
  outline: 1px solid var(--color-primary);
}
.intro_about_yourselt_textarea_text_limit {
  margin-top: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color-dark);
}
.intro_about_yourselt_textarea_text_limit .total_characters {
  color: var(--text-color-dark);
  margin-left: 4px;
}

.intro_phone_no_box input::-webkit-outer-spin-button,
.intro_phone_no_box  input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

.prof_creation_main_panel {
  position: relative;
}
.prof_creation_main_panel .back_button_box {
  position: absolute;
  left: 1px;
  bottom: 30px;
}
.prof_creation_main_panel .back_button_box .btn_back {
  cursor: pointer;
  width: 22px;
  height: 22px;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.prof_creation_main_panel .back_button_box .btn_back svg {
  color: #fff !important;
  font-size: 20px;
}
.prof_creation_main_panel .back_button_box .btn_back:hover {
  background-color: #FFF;
}
.prof_creation_main_panel .back_button_box .btn_back:hover svg {
  color: var(--color-primary) !important;
}


@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
}

@media (max-width: 495.98px) {
 
}
