
.matches_nav_wrap {
    position: relative;
    background: rgb(255, 255, 255);
    top: 0px;
    transform: translate3d(0px, 0px, 0px);
    will-change: top;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 6px;
}

.matches_nav {
    display: flex;
    justify-content: center;
}