
/* .my_matches_filter_wrapper */
.my_matches_filter_box {
    font-size: 12px;
}
.my_matches_filter_box .accordion-header .accordion-button {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 13px;
    font-weight: 600;
    /* color: rgb(1, 168, 1); */
    background-color: rgb(244, 243, 243);
    outline: none;
    box-shadow: none;
}
.my_matches_filter_box .accordion-header .accordion-button::after {
    width: 0.8rem !important;
    height: 0.8rem !important;
    background-size: 0.8rem !important
}
.my_matches_filter_box .accordion-header .accordion-button.collapsed {
    color: rgb(55, 55, 55);
}

.my_matches_filter_box label {
    margin-bottom: -4px;
}