/* For bootstrap and reactstrap */
@import "~bootstrap/dist/css/bootstrap.min.css";

/* ------------------------------ */

body {
  background-color: #f8f8f8;
}

:root {
  --color-primary: #A36178;
  --color-primary-hover: #981945;
  --color-primary_old: #00B7EA;
  --color-primary_old-hover: #0193bb;
  /* #FF3980 */
  --color-secondary: #FF3980;
  --color-secondary-hover: #e12c6e;
  --color-secondary_old: #DF1756;
  --color-secondary_old-hover: #ab0156;
  /* ------------------- */
  --text-color: #424242;
  --text-color-dark: #9D9D9D;
  --light-border: #b0afaf;
  --lighter-border: #d5d2d2;
  --color-dark: #141414;

  --color-green_light: #89C965;
}

.container_border {
  margin-left: 10%;
  margin-right: 10%;
}

.head_title_box {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.head_title_box h2 {
  /* color: #000000; */
  color: var(--color-secondary);
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 2.5rem;
}
.head_title_box p {
  color: var(--text-color);
  font-size: 16px;
}

/* ------------------------------------------------------- */
/* --- App MUI Form Theme --- */
.MuiFormControlLabel-label {
  font-size: 14px !important;
}

.MuiSvgIcon-root {
  color: var(--color-primary) !important;
}

.MuiInputLabel-root.Mui-focused {
  color: var(--color-primary) !important;
}

/* ------------------------------------------------------- */

@media (max-width: 991.98px) {
  .container_border {
    margin-left: 6%;
    margin-right: 6%;
  }
}

@media (max-width: 767.98px) {
  .container_border {
    margin-left: 2%;
    margin-right: 2%;
  }
  .head_title_box h2 {
    font-size: 2.0rem;
  }
}

@media (max-width: 575.98px) {
  .container_border {
    margin-left: 2%;
    margin-right: 2%;
  }
  .head_title_box h2 {
    font-size: 1.8rem;
  }
  .head_title_box p {
    font-size: 14px;
  }
}
