.matchlistbox_mobi_wrapper {
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    margin-bottom: 20px;
}

.matchlistbox_mobi {
    border: 1px solid var(--lighter-border);
    background: rgb(255, 255, 255);
    border-radius: 3px;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    z-index: 1;
    box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px;
  }

.matchlistbox_mobi_carousel .carousel-control-prev {
    display: none !important;
}

.matchlistbox_mobi_carousel .carousel-control-next {
    display: none !important;
}

.matchlistbox_mobi_carousel .carousel-indicators {
    display: none !important;
}